* {
  box-sizing: border-box;
}

#nav {
  background-color: deepskyblue;
  position: fixed;
  z-index: 100;  
  top: 0;
  left: 0;
  width: 100%;
}

#content > .container > div {
  padding: 78px 0;
}

.container {
  /*border: 2px solid #FF0088;   */
  /*標示用，完成排版後刪除*/

  width: 1000px;
  margin: 0 auto;
}

.menu {
  /*border: 2px solid #FF0000;*/
  /*標示用，完成排版後刪除*/

  float: right;
}

.menu li {
  display: inline-block;

  width: 160px;
  padding: 10px 0px;

  border: 2px solid #fff;
  border-radius: 8px;

  list-style-type: none;
  text-align: center;
  background-color: #ff6600;
  color: #fff;
}

a {
  display: block;
  color: #fff;
  text-decoration: none;
}

li:hover  {
  border: 2px solid #ff6600;
  background-color: #fff;
}

li:hover a {
  color: #ff6600;
  font-weight: 800;
}

#content {
  /*border: 2px solid #FFBB00; */
  /* 標示用，完成排版後刪除*/

  position: relative;
  top: 78px;
  padding: 15px;
}

#about, #my-work, #contact-me {
  /*border: 2px solid #0066FF;*/
  /*標示用，完成排版後刪除*/
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

h3 {
  margin: 0;
}

#about h1 {
  margin-bottom: 0;
  text-align: left;
}

table {
  font-size: 16px;
  text-align: left;
}

th, td {
  vertical-align: center;
}

td {
  color: #666;
  padding-left: 10px;
}

hr {
  border: 2px solid #eee;

  margin: 0 auto;
}

hr.bar {
  border: 3px solid #FF5511;
  width: 20%;
}


/* about me */

#my-avatar {
  /*border: 2px solid #00FF00;*/
  /* 標示用，排版完記得拿掉 */

  float: left;
  width: 30%;
  margin: 0px 20px;
}

#my-avatar img {
  width: 70%;
}

#my-info {
  /*border: 2px solid red;*/
  /* 標示用，排版完記得拿掉 */
}

#my-work-gallery {
  text-align: center;
}

.item {
  position: relative;
  display: inline-block;
  max-width: 30%;
  padding: 15px;
  margin-bottom: 10px;
}

.item img{
  width: 100%;
  margin-bottom: 10px;
}

.item-info {
  width: 100%;
  height: 100%;
  padding: 25px 10px;
  display: none;
  /*text-align: left;*/
}

.item:hover.item-info {
  display: block;
}

form.contact-form {
  /*border: 1px solid red; */ 
  /* 標示用，完成後刪除 */
  width: 50%;
  margin: 0 auto;
}

.form-row {
  margin-bottom: 15px;
}

.form-row input, .form-row textarea {
  border-radius: 3px;
  width: 100%;
  border: 1px solid #D6D9DC;
  padding: 7px;
}

.form-row textarea {
  resize: none;
  height: 4em;
}

.form-row button {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}

.form-row button[type="sumbit"] {
  background-color: #5995DA;
  color: #FFFFFF;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}